<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webshop</title>
</head>
<body>

<header th:fragment="header">
    <h1>Webshop</h1>
    <nav>
        <a th:href="@{/}">Home</a>
        <a th:href="@{/products}">Products</a>
        <a th:href="@{/cart}">Cart</a>
        <a th:href="@{/profile}">Profile</a>

        <span th:if="${#authorization.expression('isAuthenticated()')}">

            <form th:action="@{/logout}" method="post" style="display: inline;">
          <button type="submit" style="background:none; border:none; padding:0; font:inherit; cursor:pointer; text-decoration:underline; color: #0000EE;">Logout</button>
            </form>

        </span>


        <span th:if="${#authorization.expression('!isAuthenticated()')}">
            <a th:href="@{/login}">Login</a>

        </span>


    </nav>

</header>

</body>
</html>