<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<link rel="stylesheet" th:href="@{/css/style.css}">


<main>


<h2>Your cart</h2>
<div class="product-item" th:each="item : ${cartItems}">
    <p th:text="${item.key.name}"></p>
    <img th:src="${item.key.imageUrl}" width="200"/>

    <p>Quantity: <span th:text="${item.value}+' pcs'"></span></p>

    <form th:action="@{/cart/remove/{id}(id=${item.key.id})}" method="post">
        <button type="submit">Remove from cart</button>
    </form>



</div>

<h3>Total: <span th:text="${totalPrice}"></span> kr</h3>

<form th:action="@{/checkout}" method="post">
    <button type="submit">Place order</button>
</form>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>