<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<main>
    <p>
       <span sec:authorize="isAnonymous()">

           <a th:href="@{/register}">Register</a>
       </span>

        <span sec:authorize="isAuthenticated()">
            Welcome, <span sec:authentication="name">User</span>!

        </span>

    </p>


    <div th:if="${!hasConsent}">

        <p>We use cookies to improve your experience.</p>

        <form th:action="@{/consent}" method="post">
            <button type="submit">Accept</button>
        </form>
    </div>

    <div th:if="${hasConsent}">
        <p>You have accepted cookies</p>
    </div>

</main>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>