<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h1>My profile</h1>

<p>E-post: <span th:text="${user.username}"></span></p>
<p>Role: <span th:text="${user.role}"></span></p>
<p>Consent: <span th:text="${user.consent}"></span></p>


<form th:action="@{/profile/send-data}" method="post">
    <button type="submit">Send my user details to my email</button>
    <div th:if="${message}" class="alert-box">
        <p th:text="${message}"></p>
    </div>
</form>


<form th:action="@{/profile/delete}" method="post">
    <button type="submit">Delete account</button>
</form>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>